In [15]:
################Below is for the question one######################
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = urlopen(url) 
soup = BeautifulSoup(html, 'html.parser')
My_table = soup.find('table',{'class':'wikitable sortable jquery-tablesorter'})
soup = soup.find_all("table")
Postal_Code = []
Borough = []
Neighbourhood = []
#print(soup)
Post = []
Bor = []
Neig = []
for table in soup:
    #print(table)
    if len(table) >1:
    #if class="wikitable sortable jquery-tablesorter"
        rows = table.find_all('tr')
        for row in rows:
            cells = row.find_all('td')
            #print(cells)
        
        
            if len(cells) == 3:
                Postal_Code = cells[0]
                p=Postal_Code.get_text().strip()
                Post.append(p)
                
                Borough = cells[1]
                b=Borough.get_text().strip()
                Bor.append(b)
            
                Neighbourhood = cells[2]
                n=Neighbourhood.get_text().strip()
                Neig.append(n)   
                
df2 = pd.DataFrame(list(zip(Post, Bor, Neig)),columns=['PostalCode', 'Borough', 'Neighborhood'])
df2 = df2[df2['Borough']!="Not assigned"]
df2.reset_index(inplace=True)
df2.drop(labels="index", axis=1,inplace=True)
#df2.list(labels="Neighborhood",)
df3 = df2[df2['Neighborhood'] == "Not assigned"]
df3
df2

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

df2 is the data frame. df3 is to show no Not assigned Neighborhood

In [16]:
df2.shape
#######################above is for the question 1######################

(103, 3)

In [32]:
#######################below is for the question 2#######################
df4=pd.read_csv("http://cocl.us/Geospatial_data")
df4

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [35]:
df2.set_index('PostalCode',inplace=True)
df4.set_index('Postal Code',inplace=True)
result = pd.concat([df2, df4], axis=1, join='inner')
result

,Borough,Neighborhood,Latitude,Longitude
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...
M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999